{{ form_start(userForm) }}
    {{ form_row(userForm.name) }}
    {{ form_row(userForm.lastname) }}
    {{ form_row(userForm.password) }}
    <button type="submit">Save</button>
{{ form_end(userForm) }}